/*@font-face {
  font-family: 'MyriadWebPro';
  src: url(../fonts/'MyriadWebPro'.ttf); 
  src: url(../fonts/'MyriadWebPro'.eot?#iefix) format('embedded-opentype'),  url(../fonts/'MyriadWebPro'.woff) format('woff'), url(../fonts/'MyriadWebPro'.ttf)  format('truetype'), url(../fonts/'MyriadWebPro'.svg#'MyriadWebPro') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/*@font-face {
  font-family: 'MyriadWebPro';
  src: url('../fonts/MyriadWebPro.ttf'); 
  src: url('../fonts/MyriadWebPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadWebPro.woff') format('woff'), url('../fonts/MyriadWebPro.ttf')  format('truetype'), url('../fonts/MyriadWebPro.svg#MyriadWebPro') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
	font-family: Qartz; /* Имя шрифта */
	src: url(../../fonts/quartz.TTF); /* Путь к файлу со шрифтом */
}

html, body {
	height: 100%;
	min-height: 1000px;
}

html, body {
	font-family: 'MyriadWebPro' !important;
	/* font-size: 8px; */
}

body {
	font-size: 10pt;
	background: #fcfbfb;
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family: 'MyriadWebPro';
	/*font: normal 10pt "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	background: #EFEFEF;
}

div#checkCodes{
	margin-top: 10px;
}

#header_wrap {
	width: 100%;
	background: #d1d3d4;
	min-height: 133px;
}

#header {
	padding-bottom: 10px;
}

.header_leftblock {
}

.headlb_left {
}

.headlb_right {
	text-align: right;
}

.up_logo {
	display: block;
	margin-top: 43px;
}

.up_logo img {
}

.city_select {
	display: inline-block;
	vertical-align: middle;
	/* margin-top: 56px; */
	margin-right: 18px;
}

.city_select select {
	background: none;
	outline: none;
	border: none;
	font-family: 'MyriadWebPro', Helvetica, sans-serif;
	color: #201f50;
	font-size: 16px;
	cursor: pointer;
	border-bottom: 1px dashed #787892;
	margin-right: 20px;
}

.city_select option {
	cursor: pointer;
}

.login_block {
	display: inline-block;
	width: 98px;
	height: 32px;
	margin-top: 50px;
	margin-right: 0px;
}

.login_block a {
	color: #fff;
}

.headr_rightblock {
	text-align: right;
}

.headrbl {
	display: inline-block;
	margin-top: 23px;
	text-align: center;
}

.up_phone {
	color: #201f50;
	font-size: 27px;
	margin-bottom: 0;
	line-height: 1.3;
}

.up_phonetext {
	font-size: 11px;
	color: #201f50;
	margin-bottom: 4px;
}

.up_line {
	height: 1px;
	background: #2e2c5b;
}

.up_socico {
	margin-top: 5px;
}

.up_si {
	display: inline-block;
	width: 31px;
}

.up_si img {
	display: block;
	width: 100%;
}

.usi_vk {
}

.usi_f {
}

.usi_o {
}

.usi_i {
}

#slider_wrapper {
	position: relative;
}

#mainpage_carousel {
	overflow: hidden;
	height: 434px;
}

#mainpage_carousel .item > img {
	width: 100%;
	min-height: 434px;
}

.car_inner {
	display: block;
	width: 100%;
	height: 434px;
}

.car_img1 {
	background: url(../images/upbg_1.png) right center no-repeat;
	background-size: auto 434px;
}

.car_img2 {
	background: url(../images/upbg_2.png) right center no-repeat;
	background-size: auto 434px;
}

.car_img3 {
	background: url(../images/upbg_3.png) right center no-repeat;
	background-size: auto 434px;
}

.car_img4 {
	background: url(../images/upbg_4.png) right center no-repeat;
	background-size: auto 434px;
}

.car_img5 {
	background: url(../images/upbg_5.png) right center no-repeat;
	background-size: auto 434px;
}

.car_img6 {
	background: url(../images/upbg_6.png) right center no-repeat;
	background-size: auto 434px;
}

.slider_form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -525px;
	margin-top: -155px;
}

.slider_input {
	width: 378px;
	height: 58px;
	font-size: 24px;
	color: #58595b;
	border: none;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.8);
	padding: 0px 30px;
	display: block;
	margin-bottom: 21px;
	border-radius: 5px;
	outline: none;
}

.slider_input:focus {
	background: url(../images/input_focus.png) center center repeat-x;
	background-size: auto 100%;
}

.slider_input {
	width: 378px;
	height: 58px;
	font-size: 24px;
	color: #58595b;
	border: none;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.8);
	padding: 0px 30px;
	display: block;
	margin-bottom: 21px;
	border-radius: 5px;
	outline: none;
}

.slider_input:focus {
	background: url(../images/input_focus.png) center center repeat-x;
	background-size: auto 100%;
}

.slider_submit {
	width: 378px;
	height: 60px;
	border: none;
	outline: none;
	border-radius: 5px;
	/*background: url(../images/input_submit.png) center center repeat-x;*/
	/*background-size: auto 100%;*/
	font-size: 29px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	font-family: 'MyriadWebPro';
}

#mid_block1 {
	padding: 12px 0;
	position: relative;
}

.mb1_ico {
	text-align: center;
}

.mb1_redtext {
	text-align: left;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 491px;
	margin-top: 48px;
}

.mb1_redtext a {
	color: #c72127;
	font-size: 18px;
	border-bottom: 1px dashed #c72127;
	display: inline-block;
	padding: 0 3px;
	font-family: 'MyriadWebPro';
}

.mb1_redtext a:hover {
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.mb1_images {
	text-align: center;
}

.mb1_images img {
	display: block;
	margin: 10px auto;
	max-width: 100px;
}

.mb1_images p {
	color: #201f50;
	font-size: 22px;
	font-family: 'MyriadWebPro';
}

.page_separator {
	width: 100%;
	height: 7px;
	background: url(../images/page_separator.jpg) center center repeat-x;
	float: none;
	clear: both;
}

#mid_block2 {
	background: #e8e8e9;
	padding: 90px 0;
}

.mb2_header {
	color: #58595b;
	font-size: 30px;
	text-align: center;
	margin-bottom: 15px;
	font-family: 'MyriadWebPro';
}

.mb2_img {
}

.mb2_img img {
	display: block;
	padding: 10px 1px 10px 26px;
	margin: 0 auto 0 auto;
}

.mb2_text {
	color: #818385;
	font-size: 16px;
	text-align: center;
	font-family: 'MyriadWebPro';
}

#mid_block3 {
	padding: 50px 0;
	background: #fff;
}

.mb3_block {
	text-decoration: none;
}

.mb3_block:hover {
	text-decoration: none;
}

.mb3_block img {
	display: block;
	margin: 0 auto 5px auto;
}

.mb3_block a {
	color: #58595b;
	font-size: 18px;
	text-align: center;
	display: block;
	font-family: 'MyriadWebPro';
}

.mb3_block a:hover {
	color: #58595b;
	text-decoration: none;
}

.mb3_firstrow {
	margin-top: 10px;
}

#ask_block {
	background: #d4ddea;
	padding: 20px 0 30px 0;
}

.ask_header {
	margin: 30px auto 30px auto;
	font-family: 'MyriadWebPro';
}

.ask_upbuttons {
	background: url(../images/askbl_ract.png) center top no-repeat;
	background-size: 100% auto !important;
	/* height: 60px; */
	border-bottom: 2px solid #757479;
}

.ask_butt {
	text-align: center;
	display: block;
	text-decoration: none;
	color: #58595b;
	font-size: 21px;
	padding: 8px 0;
	cursor: pointer;
	font-family: 'MyriadWebPro';
}

.ask_form {
	margin-bottom: 85px;
	text-align: center;
}

.askf_user {
}

.askf_user img {
	width: 75%;
}

.askf_input {
	width: 100%;
	resize: none;
	height: 40px;
	outline: none;
	color: #58595b;
	font-size: 18px;
	font-style: italic;
	padding: 0px 10px;
	margin-bottom: 15px;

	border-radius: 5px;
	/*box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);*/
	background: rgba(255, 255, 255, 0.8);
}

.askf_input:focus {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	outline: none;
}

.askf_textar {
	width: 100%;
	resize: none;
	height: 100px;
	outline: none;
	color: #58595b;
	font-size: 18px;
	font-style: italic;
	padding: 10px;
	margin-bottom: 5px;

	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
}

.askf_textar:focus {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	outline: none;
}

.ask_siblock {
	display: inline-block;
	margin-top: 20px;
	/* float: left; */
}

.ask_sibl {
	background-size: 100% auto !important;
	width: 48px;
	height: 53px;
	display: inline-block;
	cursor: pointer;
}

.ask_si1 {
	background: url(../images/11.png) center center no-repeat;
}

.ask_si2 {
	background: url(../images/10.png) center center no-repeat;
}

.ask_si3 {
	background: url(../images/9.png) center center no-repeat;
}

.ask_si4 {
	background: url(../images/8.png) center center no-repeat;
}

.ask_si1:hover {
	background: url(../images/12.png) center center no-repeat;
}

.ask_si2:hover {
	background: url(../images/13.png) center center no-repeat;
}

.ask_si3:hover {
	background: url(../images/14.png) center center no-repeat;
}

.ask_si4:hover {
	background: url(../images/15.png) center center no-repeat;
}

.ask_si1.act {
	background: url(../images/12.png) center center no-repeat;
}

.ask_si2.act {
	background: url(../images/13.png) center center no-repeat;
}

.ask_si3.act {
	background: url(../images/14.png) center center no-repeat;
}

.ask_si4.act {
	background: url(../images/15.png) center center no-repeat;
}

.ask_submit {
	border: none;
	outline: none;
	background: url(../images/ask_sendbutton.jpg) center center repeat-x;
	height: 49px;
	width: 161px;
	background-size: auto;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	float: right;
	font-family: 'MyriadWebPro';
}

input.check_input {
	width: 200px;
	height:30px;
	outline: none;
	color: #58595b;
	font-size: 18px;
	padding: 0px 10px;
	margin-bottom: 15px;
	display: inline-block;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
}
input.check_input:before {
	clear: both;
}


input.check_input:focus {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	outline: none;
}


.underask_block {
	/*margin-top: 125px;*/
}

.unas_wrap {
}

.unask_bl {
	text-align: center;
	color: #58595b;
	font-size: 25px;
	padding: 3px 0;
	background-size: auto 100% !important;
	font-family: 'MyriadWebPro';
}

.unask_bl img {
	margin-right: 10px;
}

.unask_bl:hover {
	text-decoration: none;
	color: #58595b;
}

.ua_bl1 {
	/*background: url(../images/1.png) left center no-repeat;*/
}

.ua_bl2 {
	/*background: url(../images/2.png) left center no-repeat;*/
}

.ua_bl3 {
	/*background: url(../images/3.png) left center no-repeat;*/
}

.underask_block_xs {
	/*margin-top: 125px;*/
}

.unask_xs {
	text-align: center;
	color: #58595b;
	font-size: 25px;
	padding: 3px 0;
	background-size: auto 100% !important;
	font-family: 'MyriadWebPro';
}

.unask_xs img {
	margin-right: 5px;
}

.ua_xs1 {
	/*background: url(../images/1.png) 10% center no-repeat;*/
}

.ua_xs2 {
	/*background: url(../images/2.png) 10% center no-repeat;*/
}

.ua_xs3 {
	/*background: url(../images/3.png) 10% center no-repeat;*/
	display: block;
}

.cards_block {
	text-align: center;
	/* margin-left: 13px; */
	/* margin-top: 10px; */
}

.pcard_block {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}

.pcard_block:hover {
	text-decoration: none;
}

.pcard_block img {
	width: 100%;
}

#footer {
	background: #d4ddea;
	padding: 10px 0 40px 0;
}

.footer_hrefs {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer_hrefs a {
	color: #818385;
	font-size: 14px;
	text-decoration: underline;
	padding: 0 5px;
	font-family: 'MyriadWebPro';
	white-space: nowrap;
}

.footer_hrefs a:hover {
	text-decoration: none;
}

.footer_text {
	color: #818385;
	font-size: 14px;
	font-family: 'MyriadWebPro';
}

.soc_ask {
	display: none;
}

.not_socask {
	/*display: none;*/
	margin-top: 15px;
}

.ask_captcha {
	display: inline-block;
	float: left;
}

.ascapleft {
	float: left;
	display: inline-block;
	margin-left: 15px;
}

.ascapleft p {
	font-size: 14px;
	font-style: italic;
	color: #56595e;
	margin-bottom: 0;
}

.ascapleft img {
}

.ascapright {
	display: inline-block;
	margin-left: 15px;
}

.askf_input.input_captcha {
	height: 45px;
	width: 160px;
}

.ask_submit.input_captcha {
	display: inline-block;
	float: right;
	margin-right: 15px;
}

.slider_check {
	display: table;
	float: left;
	margin: 10px !important;
	margin-bottom: 20px;
}

.second_inprow {
	width: 378px;
}

.slider_check {
	margin-bottom: 21px;
}

.slidr_checkbox {
	font-size: 12px;
	font-style: italic;
}

.slidr_checkbox a {
	font-size: 12px;
	font-style: italic;
}

.second_inprow {
	display: none;
}

.input_check {
	margin-bottom: 20px;
}

.ask_captcha2 {
}

.ascapleft2 {
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

.ascapright2 {
	text-align: center;
}

.ask_submit2 {
	border: none;
	outline: none;
	background: url(../images/ask_sendbutton.jpg) center center repeat-x;
	height: 49px;
	width: 161px;
	background-size: auto;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	/* float: right; */
	font-family: 'MyriadWebPro';
}

.sa_block {
	margin: 20px auto;
	/* display: table; */
}

.sa_block #main {
	margin: 0 auto;
}

.savi_vk {
	display: block;
}

.savi_f {
	display: none;
}

.savi_od {
	display: none;
}

.savi_inst {
	display: none;
}

#userCityWidget {
	margin-top: 50px;
}

#userCityWidget div.popover {
	z-index: 1049;
}

.formErrors .alert {
	filter: alpha(Opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.btn-link.location {
	border-bottom: 1px dashed;
	border-color: transparent transparent -moz-use-text-color;
	border-radius: 0;
	cursor: pointer;
	font-size: 12pt;
	padding: 0;
	text-decoration: none;
}


#modal-frame .modal-dialog{
	width: 760px;
	margin: 30px auto;
}

#modal-frame .modal-body {
	max-height: 500px;
	text-align: left;
}

@media screen and (max-width: 991px) {

	.headlb_left {
		text-align: center;
	}

	.headlb_right {
		text-align: center;
	}

	.header_leftblock {
		padding: 0;
		/* margin: 0 -20px; */
	}

	.up_phone {
		font-size: 27px;
	}

	.up_phonetext {
		/* font-size: 6px; */
	}

	.up_logo {
		margin-top: 10px;
	}

	.up_logo img {
		width: 239px;
	}

	.headr_rightblock {
		text-align: center;
	}

	.headrbl {
		margin-top: 5px;
	}

	.login_block {
		margin-top: 13px;
		/* font-size: 10px; */
		/* width: 65px; */
		/* height: 23px; */
		/* padding: 5px 28px; */
		/* background: #201f50 url(../images/siluet.png) 6px 4px no-repeat; */
		/* background-size: 15px; */
	}

	.city_select {
		margin-right: 1px;
		margin-top: 12px;
		/* width: 60px; */
	}

	.city_select select {
		font-size: 16px;
		margin-right: 40px;
	}

	.city_select option {
	}

	.login_block {
		vertical-align: middle;
	}

	.up_si {
		/* width: 24px; */
	}

	#header_wrap {
		width: 100%;
		background: #d1d3d4;
		min-height: 87px;
	}

	#header {
		padding-bottom: 10px;
	}

	#mainpage_carousel {
		overflow: hidden;
		height: 334px;
	}

	#mainpage_carousel .item > img {
		/*width: 100%;*/
		min-height: 144px;
	}

	.car_inner {
		display: block;
		width: 100%;
		height: 334px;
	}

	.car_img1 {
		background: url(../images/upbg_1.png) right center no-repeat;
		/* background-size: auto 144px; */
	}

	.car_img2 {
		background: url(../images/upbg_2.png) right center no-repeat;
		/* background-size: auto 144px; */
	}

	.car_img3 {
		background: url(../images/upbg_3.png) right center no-repeat;
		/* background-size: auto 144px; */
	}

	.car_img4 {
		background: url(../images/upbg_4.png) right center no-repeat;
		/* background-size: auto 144px; */
	}

	.car_img5 {
		background: url(../images/upbg_5.png) right center no-repeat;
		/* background-size: auto 144px; */
	}

	.car_img6 {
		background: url(../images/upbg_6.png) right center no-repeat;
		/* background-size: auto 144px; */
	}

	.slider_form {
		margin-left: -147px;
		margin-top: -125px;
	}

	.slider_input {
		width: 294px;
		height: 47px;
		font-size: 20px;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
		background: rgba(255, 255, 255, 0.8);
		padding: 0px 14px;
		margin-bottom: 15px;
		background-size: auto auto;
	}

	.slider_input:focus {
		background-size: auto 100%;
	}

	*.slider_submit {
		width: 294px;
		height: 39px;
		font-size: 20px;
		background-size: auto 100%;
	}

	#mid_block1 {
	}

	.mb1_ico {
		text-align: center;
	}

	.mb1_redtext {
		margin: 5px auto;
		text-align: center;
	}

	.mb1_redtext a {
		color: #c72127;
		font-size: 16px;
	}

	.mb1_redtext a:hover {
		text-decoration: none;
		border: none;
		border-bottom: 1px solid #fff;
	}

	.mb1_images img {
		display: block;
		margin: 10px auto;
		/*max-width: 35px;*/
	}

	.mb1_images p {
		color: #201f50;
		font-size: 14px;
	}

	#mid_block2 {
		padding: 35px 0;
	}

	.mb2_header {
		margin-bottom: 10px;
		font-size: 25px;
	}

	.mb2_img {
	}

	.mb2_img img {
		padding: 4px 0px 4px 16px;
	}

	.mb2_text {
		font-size: 7px;
	}

	#mid_block3 {
		padding: 30px 0;
	}

	.mb3_block {
		margin-bottom: 15px;
	}

	.mb3_block img {
		/* width: 75%; */
	}

	.mb3_block a {
		/* font-size: 7px; */
	}

	#ask_block {
		background: #d4ddea;
		padding: 20px 0;
	}

	.ask_header {
		margin: 10px auto 10px auto;
	}

	.ask_upbuttons {
		border-bottom: 1px solid #757479;
	}

	.ask_butt {
		font-size: 10px;
		padding: 5px 0 3px 0;
	}

	.ask_form {
		margin-bottom: 25px;
	}

	.askf_user {
	}

	.askf_user img {
		width: 75%;
	}

	.askf_input {
	}

	.askf_textar {
		width: 100%;
		resize: none;
		height: 79px;
		outline: none;
		font-size: 18px;
		padding: 5px;
	}

	.ask_sibl {
		background-size: 100% auto;
		/* width: 25px; */
		/* height: 28px; */
	}

	.ask_submit {
		height: 27px;
		width: 80px;
		font-size: 12px;
	}

	.underask_block {
		/*margin-top: 25px;*/
	}

	.unas_wrap {
	}

	.unask_bl {
		font-size: 8px;
		padding: 0;
	}

	.pcard_block {
		width: 55px;
		vertical-align: middle;
		margin: 0 3px 7px 3px;
	}

	.footer_hrefs {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.footer_hrefs a {
		color: #818385;
		font-size: 12px;
		padding: 0 5px;
	}

	.footer_text {
		color: #818385;
		font-size: 12px;
	}

	.askf_input {
		height: 47px;
		padding: 5px;
		margin-bottom: 12px;
		font-size: 18px;
	}

	.ascapleft p {
		font-size: 7px;
	}

	.askf_input.input_captcha {
		height: 51px;
		width: 118px;
		margin-left: 5px;
	}

	.ascapleft img {
		width: 120px;
	}

	.slider_check {
		display: table;
		float: left;
		margin: 7px 7px 17px 7px !important;
	}

	.second_inprow {
		width: 200px;
		/* margin-bottom: 21px; */
	}

	.slider_check {
		margin-bottom: 21px;
	}

	.slidr_checkbox {
		font-size: 8px;
		font-style: italic;
		line-height: 1;
	}

	.slidr_checkbox a {
		font-size: 8px;
		font-style: italic;
		line-height: 1;
	}

	.second_inprow {
		display: none;
	}

	.input_check {
		margin-bottom: 2px;
	}

}

/*  END  @media(991px)  */

@media screen and (min-width: 600px) and (max-width: 991px) {

	#mainpage_carousel {
		overflow: hidden;
		height: 334px;
	}

	#mainpage_carousel .item > img {
		min-height: 284px;
	}

	.car_inner {
		display: block;
		width: 100%;
		height: 334px;
	}

	.car_img1 {
		background: url(../images/upbg_1.png) right center no-repeat;
		background-size: auto 334px;
	}

	.car_img2 {
		background: url(../images/upbg_2.png) right center no-repeat;
		background-size: auto 334px;
	}

	.car_img3 {
		background: url(../images/upbg_3.png) right center no-repeat;
		background-size: auto 334px;
	}

	.car_img4 {
		background: url(../images/upbg_4.png) right center no-repeat;
		background-size: auto 334px;
	}

	.car_img5 {
		background: url(../images/upbg_5.png) right center no-repeat;
		background-size: auto 334px;
	}

	.car_img6 {
		background: url(../images/upbg_6.png) right center no-repeat;
		background-size: auto 334px;
	}

	.slider_form {
		margin-left: -152px;
		margin-top: -125px;
	}

	.slider_input {
		width: 294px;
		height: 47px;
		font-size: 16px;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
		background: rgba(255, 255, 255, 0.8);
		padding: 0px 22px;
		margin-bottom: 15px;
	}

	.slider_submit {
		width: 294px;
		height: 39px;
		font-size: 20px;
	}

	.mb1_redtext a {
		color: #c72127;
		font-size: 15px;
	}

	.mb1_redtext a:hover {
		text-decoration: none;
		border: none;
		border-bottom: 1px solid #fff;
	}

	.mb1_images img {
		display: block;
		margin: 10px auto;
		/*max-width: 65px;*/
	}

	.mb1_images p {
		color: #201f50;
		font-size: 22px;
	}

	#mid_block2 {
		padding: 50px 0;
	}

	.mb2_header {
		font-size: 22px;
		margin-bottom: 6px;
	}

	.mb2_img {
	}

	.mb2_img img {
		padding: 10px 0 10px 18px;
	}

	.mb2_text {
		font-size: 11px;
	}

	#mid_block3 {
		padding: 50px 0;
	}

	.mb3_block {
	}

	.mb3_block img {
		/* width: 50%; */
	}

	.mb3_block a {
		/* font-size: 12px; */
	}

	#ask_block {
		background: #d4ddea;
		padding: 20px 0;
	}

	.ask_header {
		margin: 30px auto 30px auto;
	}

	.ask_upbuttons {
	}

	.ask_butt {
		font-size: 16px;
		padding: 5px 0;
	}

	.ask_form {
	}

	.askf_user {
	}

	.askf_user img {
		width: 75%;
	}

	.askf_input {
	}

	.askf_textar {
		width: 100%;
		resize: none;
		height: 100px;
		outline: none;
		font-size: 16px;
		padding: 10px;
	}

	.ask_sibl {
		background-size: 100% auto;
		/* width: 44px; */
		/* height: 49px; */
	}

	.ask_submit {
		height: 40px;
		width: 150px;
		font-size: 21px;
	}

	.underask_block {
		/*margin-top: 75px;*/
	}

	.unas_wrap {
	}

	.unask_bl {
		font-size: 11px;
		padding: 0;
	}

	.pcard_block {
	}

	.footer_hrefs {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.footer_hrefs a {
		color: #818385;
		font-size: 12px;
		padding: 0 5px;
	}

	.footer_text {
		color: #818385;
		font-size: 12px;
	}

	.askf_input {
		height: 30px;
		padding: 20px 8px;
		margin-bottom: 8px;
		font-size: 16px;
	}

	.ascapleft p {
		font-size: 11px;
	}

	.askf_input.input_captcha {
		height: 35px;
		width: 110px;
	}

	.ascapleft img {
	}

	.slider_check {
		margin: 10px 15px 30px 15px !important;
	}

	.second_inprow {
		width: 234px;
		margin-bottom: 21px;
	}

	.slider_check {
		margin-bottom: 21px;
	}

	.slidr_checkbox {
		font-size: 9px;
	}

	.slidr_checkbox a {
		font-size: 9px;
	}

	.slider_check {
		display: table;
		float: left;
		margin: 10px !important;
	}

	.second_inprow {
		width: 278px;
		margin-bottom: 13px;
	}

	.slider_check {
		margin-bottom: 21px;
	}

	.slidr_checkbox {
		font-size: 10px;
		font-style: italic;
		line-height: 1;
	}

	.slidr_checkbox a {
		font-size: 10px;
		font-style: italic;
		line-height: 1;
	}

	.second_inprow {
		display: none;
	}

	.input_check {
		margin-bottom: 10px;
	}

}

/*  END  @media(600px-991px)  */

@media screen and (min-width: 992px) and (max-width: 1250px) {

	.slider_form {
		margin-left: -451px;
		margin-top: -155px;
	}

	.slider_input {
		width: 378px;
		height: 58px;
		font-size: 24px;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
		background: rgba(255, 255, 255, 0.8);
		padding: 0px 30px;
		margin-bottom: 21px;
	}

	.slider_submit {
		width: 378px;
		height: 60px;
		font-size: 29px;
	}

	.mb1_redtext a {
		color: #c72127;
		font-size: 17px;
	}

	.mb1_redtext a:hover {
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}

	.mb1_images img {
		display: block;
		margin: 10px auto;
		max-width: 100px;
	}

	.mb1_images p {
		color: #201f50;
		font-size: 18px;
	}

	#mid_block2 {
		padding: 50px 0;
	}

	.mb2_header {
		font-size: 25px;
	}

	.mb2_img {
	}

	.mb2_img img {
		padding: 10px 2px 10px 24px;
	}

	.mb2_text {
		font-size: 15px;
	}

	#mid_block3 {
		padding: 50px 0;
	}

	.mb3_block {
	}

	.mb3_block img {
		width: 50%;
	}

	.mb3_block a {
		font-size: 16px;
	}

	.underask_block {
		/*margin-top: 105px;*/
	}

	.unas_wrap {
	}

	.unask_bl {
		font-size: 19px;
		padding: 1px 0;
	}

	.slider_check {
		margin: 10px 15px 30px 15px !important;
	}

	.second_inprow {
		width: 378px;
		margin-bottom: 21px;
	}

	.slider_check {
		margin-bottom: 21px;
	}

	.slidr_checkbox {
		font-size: 12px;
	}

	.slidr_checkbox a {
		font-size: 12px;
	}

}

/*  END  @media(992px-1250px)  */

@media screen and (max-width: 1460px) {

	.mb1_redtext {
		text-align: center;
		position: relative;
		margin: 5px auto;
		top: auto;
		left: auto;
	}

	.mb1_redtext a {
		border-bottom: 1px dashed #c72127;
		display: inline-block;
		padding: 0 3px;
	}

}

/*  END  @media(1460px)  */

@media screen and (max-width: 400px) {
	.ascapleft {
		width: 46px;
	}

	.footer_hrefs a {
		white-space: normal;
	}

}

@media screen and (min-width: 350px) and (max-width: 500px) {
	.mb2_img img {
		width: 180px;
		margin: 0 auto;
	}

}

@media screen and (min-width: 500px) and (max-width: 768px) {
	.mb2_img img {
		width: 250px;
		margin: 0 auto;
	}

}





