
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    vertical-align: top; }

blockquote {quotes: none;}
img {vertical-align:top;}
/*=======select=======*/
header .select{
	width:218px;
	height:56px;
	position:relative;
	/*top:13px;*/
	/*left:299px;*/
	width: 120px;
}

.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	width:80px;
}
.jq-selectbox__select {
	height: 28px;
	padding: 0 10px 0 0;
	color: #FFF;
	font: 17px/30px Arial, sans-serif;
	font-weight:bold;
	background:url(../images/select_ins.png) bottom left repeat-x;
}
.jq-selectbox__select:hover {
	background:none;
}
.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
}
.jq-selectbox.disabled .jq-selectbox__select {
}
.jq-selectbox__select-text {
	display: block;
	min-width: 100%;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 16px;
	right: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
}
.jq-selectbox__dropdown {
	top: 33px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #68294e;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #d02f32;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}


.jq-select-multiple {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	background: #FFF;
	color: #333;
	font: 14px/18px Arial, sans-serif;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}
/*=======/select=======*/
/* Global properties ======================================================== */
body { 
	font-size:100%; 
	 background:#fcfbfb;
	 /*min-width:980px;*/
	 font-family:Arial, Helvetica, sans-serif;
}
html, body { height:100%; }



header {
    background: url(../images/header_taill.jpg) repeat-x;
    height: 75px;
}
.p_lineblock {
    display: inline-block;
    color: #fff;
    overflow: hidden;
}
.p_logo {
    margin-top: 10px;  
}
.p_select {
    margin-top: 17px;
}
.p_adress {
    margin-top: 8px;
    text-align: center;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.2em;
    font-family: Tahoma, Geneva, sans-serif;
}
.p_adress p {
    font-size: 25px;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: -1px;
}
.p_login {
    text-align: right;
}
.login { color:  #902547; font-size: 15px; font-weight: 400;
	margin-left: 164px;
	width:142px;
	height:33px;
	line-height:2.2em;
	display:block;
	margin-top: 17px;
	text-align:center;
	
	-webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
	
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: -moz-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: -ms-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: -o-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: linear-gradient(top, #ffffff 0%, #e4e9ea 100%); 
}
@media screen and (max-width: 480px) {
    .p_logo img {
        width: 140px;
    }
    .p_select {
        width: 140px;
    }
}










