body { 
	font-size:100%; 
	background:#fcfbfb;
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family:"Myriad Pro", Helvetica, sans-serif;
}
html, body { height:100%; }
@font-face {
    font-family: Qartz; /* Имя шрифта */
    src: url(../fonts/quartz.TTF); /* Путь к файлу со шрифтом */
}

header {
    background: url(../images/header_taill.jpg) repeat;
    min-height: 75px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
}
header address {
	margin-bottom: 0;
}
.p_logo {
    margin-top: 10px;  
    text-align: center;
}
.p_select {
    margin-top: 18px;
}
.p_adress {
    margin-top: 8px;
    text-align: center;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.2em;
    font-family: Tahoma, Geneva, sans-serif;
}
.p_adress p {
    margin-bottom: 7px;
    font-size: 25px;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: -1px;
}
.p_login {
    text-align: right;
    overflow: hidden;
}
.login {
	color:  #902547;
	float: right;
	font-size: 15px;
	display: table;
	margin-top: 17px;
	text-align:center;
	padding: 5px 10px;
	
	-webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
	
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: -moz-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: -ms-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: -o-linear-gradient(top, #ffffff 0%, #e4e9ea 100%);
        background-image: linear-gradient(top, #ffffff 0%, #e4e9ea 100%); 
}
.select {
    width: 100px;
    overflow: hidden;
}
.select select {
    width: 140px;
    background: transparent;
    background: url(../images/select_arrow.png) 88px 8px no-repeat;
    border: none;
    color: #fff;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px dashed #fff;
    padding: 0;
    cursor: pointer;
}
.select option {
    color: #000;
    margin-top: 2px;
    font-size: 17px;
    cursor: pointer;
}

#timer_hours {
	text-align: center;
	position: relative;
	font-size: 75px;
	font-family: Qartz;
	color: #1f1f50;
}
#timer_minuts {
	text-align: center;
	position: relative;
	font-size: 75px;
	font-family: Qartz;
	color: #1f1f50;
}
.hours {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	/*padding-top: 23px;*/
}
.minutes {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	/*padding-top: 23px;*/
}
.hr_wheel {
	position: absolute;
	/*width: 160px;*/
	width: 100%;
	/*height: 160px;*/
	height: 100%;
	background: url(../images/time_wheel.png)100% 100% no-repeat;
	background-size: contain;
	top: 0;
	left:0;
	/*left: 50%;*/
	/*margin-left: -80px;*/
}
.min_wheel {
	position: absolute;
	/*width: 160px;*/
	/*height: 160px;*/
	width: 100%;
	height: 100%;
	background: url(../images/time_wheel.png)100% 100% no-repeat;
	background-size: contain;
	top: 0;
	/*left: 50%;*/
	left: 0;
	/*margin-left: -80px;*/
}
.timer_head {
	color: #595a5c;
	font-size: 16px;
	padding: 15px 0;
}
.soc_bl {
	width: 53px;
	height: 55px;
	margin: 0 auto;
}
.soc_vk {
	background: url(../images/soc_icon1.png)100% 100% no-repeat;
	background-size: contain;
}
.soc_fe {
	background: url(../images/soc_icon2.png)100% 100% no-repeat;
	background-size: contain;
}
.soc_od {
	background: url(../images/soc_icon3.png)100% 100% no-repeat;
	background-size: contain;
}
.soc_in {
	background: url(../images/soc_icon4.png)100% 100% no-repeat;
	background-size: contain;
}
.ask_text {
	color: #595a5c;
	font-size: 16px;
	padding: 15px 0;
}
.soc_butt {
	padding: 15px 0;
}
.ask_form textarea {
	resize: none;
	padding-top: 8px;
	padding-bottom: 8px;
	outline: none;
	font-size: 14px;
}
.ask_form textarea:focus {
	outline: 1px solid #fcfbfb;
	box-shadow: 0 0 1px 1px #ccc;
}
.error_timers span {
	padding-top: 25px;
	display: block;
}
#footer {
	/*margin-top: 30px;*/
	/* padding-top: 30px; */
	padding-bottom: 30px;
	/*border-top: 3px solid #aaaaab;*/
}
.footer_hrefs a {
	font-size: 14px;
	color: #828487;
	text-decoration: underline;
	padding: 0 5px;
}
.footer_hrefs {
	margin-bottom: 15px;
}
.footer_text p {
	font-size: 14px;
	color: #828487;
}
.separator {
	width: 100%;
	margin: 30px auto;
	padding: 0 10%;
	height: 3px;
	box-sizing: border-box;
	border-radius: 2px;
}
.separator_inner {
	width: 100%;
	height: 3px;
	background: #aaaaab;
}
.errormess_submit {
	margin: 10px auto;
	background: #1f1f50;
	outline: none;
	border: none;
}
#contdown {
	padding-top: 20px;
}
















@media screen and (max-width: 1050px){
#timer_hours {
	font-size: 65px;
}
#timer_minuts {
	font-size: 65px;
}
.hours {
	width: 138px;
	height: 138px;
}
.minutes {
	width: 138px;
	height: 138px;
}
.error_timers span {
	padding-top: 20px;
}

.timer_head {
	color: #595a5c;
	font-size: 16px;
	padding: 15px 0;
	text-align: center;
}
}

@media screen and (max-width: 992px) {
	.p_logo a img {
		width: 180px;
	}
	.login {
		float: left;
	}
}

@media screen and (max-width: 480px) {
    .p_logo img {
	padding: 0 5px;
    }
    .p_select {
	box-sizing: border-box;
	padding: 0 15px;
    }
#timer_hours {
	font-size: 45px;
}
#timer_minuts {
	font-size: 45px;
}    
.hours {
	width: 98px;
	height: 98px;
}
.minutes {
	width: 98px;
	height: 98px;
}
.error_timers span {
	padding-top: 18px;
}

.timer_head {
	color: #595a5c;
	font-size: 16px;
	padding: 15px 0;
}
.countd_wrap {
	width: 40%;
	display: inline-block;
}
.soc_bl {
	width: 43px;
	height: 45px;
	margin: 0 auto;
}
}

@media screen and (max-width: 360px) {
    .p_logo img {
	display: block;
	margin: 0 auto;
        width: 106px;
	padding: 0 5px;
    }
    .p_select {
	box-sizing: border-box;
	padding: 0 15px;
    }
    .p_adress {
	font-size: 9px;
    }
    .p_adress p {
	font-size: 17px;
	margin-bottom: 0px;
    }
    .login {
	font-size: 11px;
	padding: 2px 5px;
    }
    header address {
	margin-bottom: 10px;
    }
    .p_select {
	margin-top: 12px;
    }
    .select {
	width: 80px;
	overflow: hidden;
    }
    .select select {
	width: 120px;
	background: transparent;
	background: url(../images/select_arrow.png) 68px 8px no-repeat;
	border: none;
	color: #fff;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px dashed #fff;
	padding: 0;
	text-indent: 0;
    }
    .select option {
	color: #000;
	margin-top: 2px;
	font-size: 13px;
    }
 
#timer_hours {
	font-size: 35px;
}
#timer_minuts {
	font-size: 35px;
}    
.hours {
	width: 69px;
	height: 78px;
}
.minutes {
	width: 69px;
	height: 78px;
}
.error_timers span {
	padding-top: 16px;
}

.timer_head {
	color: #595a5c;
	font-size: 16px;
	padding: 15px 0;
}
.countd_wrap {
	width: 40%;
	display: inline-block;
}
.soc_bl {
	width: 33px;
	height: 35px;
	margin: 0 auto;
}
}
#zaglush_slider img {
	width: 100%;	
}














