
.carousel-control {
	left: 0;

}

.carousel a:focus {
	outline: none;
}

.carousel a:active {
	outline: none;
}

.carousel-control:focus {
	outline: none;
}

.carousel-control:active {
	outline: none;
}

.carousel-control.right {
	right: 0;
}

.carousel-indicators li {
	background-color: #CCCCCC;
}

.carousel-indicators .active {
	background-color: #555555;
}
