.pay_button {
	height: 140px;
	width: 240px;
	display: block;
	float: left;
	margin: 10px 35px 10px 35px;
	border: 1px #DDD solid;
	border-radius: 4px;
}

.pay_button:hover {
	box-shadow: 0px 0px 5px #DDD;
}

.pay_back_btn {
	margin-bottom: 20px;
}

.pay_button_acquiropay {
	background: url("../img/pay_logo_bank_card.jpg") no-repeat center;
}

.pay_button_yandex {
	background: url("../img/pay_logo_yandex_money.jpg") no-repeat center;
}

.pay_button_elecsnet {
	background: url("../img/pay_logo_elecsnet.gif") no-repeat center;
}

.pay_button_qiwi {
	background: url("../img/pay_logo_qiwi.jpg") no-repeat center;
}

.button_elecsnet_add_logo {
	background: url("../img/pay_elecsnet_logo_pay.png") no-repeat;
	height: 60px;
	width: 60px;
	position: absolute;
	margin: -15px 0 0 -45px;
}

.pay_legend {
	margin-bottom: 0px;
}

.tpl_after {
	margin-bottom: 20px;
}

.conditions .cost {
	font-weight: bold;
}

.conditions ul {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
}

.conditions ul li {
	padding-bottom: 2px;
}

/*.pay_list_href {
  height: 95%;
  width: 95%;
  margin: 5px 5px 4px 5px;
}

.pay_list_href:hover {
  box-shadow: 0px 0px 5px #DDD;
}*/

.pay_faq {
	padding: 10px 0 0 0;
}

.pay_faq p {
	font-size: 13px;
}

.pay_faq .pay_attention {
	font-weight: bold;
}

.pay_faq ol {
	font-size: 13px;
}

.pay_faq li {
	margin: 5px 0 5px 0;
}

.sendform_error {
	border-color: #F00;
	color: #000000;
	background-color: #f8b9b7;
}

.sendform_success {
	border-color: #008000;
	color: #000000;
	background-color: #CCFFCC;
}
