table td {
	padding: 5px !important;
	border: 1px solid rgb(221, 221, 221);
	vertical-align: top;
}

td, th {
	line-height: 1.65em;
}

table {
	border-collapse: collapse;
	font-size: 1em !important;
}