.home{
	padding-top:45px;
}
.toppage{
  	background: url('../img/bg-title.jpg') center 0px no-repeat white;
}
nav div.navbar-inner{
	background: url('../img/kreddy_bg.png');
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
}
.navbar .brand{
	padding-bottom:5px;
}
.navbar .brand img{
	width:200px;
}
nav .hotline{
	color:white;
	margin-top:23px;
	margin-right:40px;
	font-size:18px;
	font-weight: 400;
	display:inline-block;
}
nav .hotline small{
	font-size:14px;
}
small{
	font-size:11px;
}
nav div.nav-collapse{
	margin-top:12px;
}
section h2, section .intro{
	text-align:center;
}
section h2{
	margin-top:20px;
	font-weight:400;
}
section .intro{
	margin-bottom:10px;
}
.span6.counter{
	margin-top:20px;
}
.span6.counter label{
	padding-left:60px;
	margin-bottom:10px;
}
.span6.counter h3{
	margin-bottom:20px;
}
.span12.counter{
	margin-top:10px;
	margin-bottom:20px;
}
.center{
	text-align:center;
}
.disabled{
	color:#777;
}
.hero-unit{
	background:none;
	width:400px;
	height:120px;
	margin-left:0px;
	margin-top:0px;
	padding-left:0px;
}
.hero-unit h1{
	font-size:40px;
	font-weight: 400;
}
.page-divider{
	background: url(../img/kreddy_bg.png);
	height:20px;
}
.page-divider1{
	background: #8b869f;
	height:7px;
	width:960px;
	margin:0 auto;
}
#steps {
	margin-top:20px;
}
#steps li a{
	color:gray;
	text-decoration: none;
	cursor:default;
}
#steps li.done a{
	color:#08C;
	cursor:pointer;
}
#steps li.done a:hover{
	text-decoration: underline;
}
#next,#proceed{
	margin-bottom:20px;
}
.steps .step h1{
	margin-bottom:20px;
}
.steps .cost{
	font-size:14px;
	font-weight: bold;
}
.steps .info{
	margin-bottom:-200px;
}
.steps .step{
	min-height:220px;
}
.about{
	margin-top:20px;
	margin-bottom:30px;
}
.privacy{
	font-size:11px;
	color:#777;
}

.btn-info {
  background-color: #8b869f;
  *background-color: #8b869f;
  background-image: -ms-linear-gradient(top, #8b869f, #8b869f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8b869f), to(#8b869f));
  background-image: -webkit-linear-gradient(top, #8b869f, #8b869f);
  background-image: -o-linear-gradient(top, #8b869f, #8b869f);
  background-image: -moz-linear-gradient(top, #8b869f, #8b869f);
  background-image: linear-gradient(top, #8b869f, #8b869f);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8b869f', endColorstr='#8b869f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #8b869f;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
#case{
display: block;
width: 69px;
height: 12px;
position: absolute;
z-index: 4000;
margin-top: 159px;
margin-left: 356px;
}
footer{
	margin-top:20px;
	text-align:center;
}