.home {
	padding-top: 0px;
}

/*.toppage {
	background: url('../img/bg-title.jpg') center 0px no-repeat white;
}*/

.navbar-top div.navbar-inner-main {
	background: url('../img/kreddy_bg.png');
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
	filter: 0;
}

.navbar .brand {
	padding-bottom: 5px;
	width: 200px;
	display: block;
}

nav .hotline {
	color: white;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 18pt;
	font-weight: 400;
	display: inline-block;
}

nav .hotline small {
	font-size: 14px;
}

small {
	font-size: 11px;
}

nav div.nav-collapse {
	margin-top: 12px;
}

section h2, section .intro {
	text-align: center;
}

.learn-more {
	text-align: center;
}

section h2, div h2 {
	margin-top: 20px;
	font-weight: 400;
}

section .intro, div .intro {
	margin-bottom: 10px;
}

.span6.counter {
	margin-top: 20px;
}

.span6.counter label {
	padding-left: 60px;
	margin-bottom: 10px;
}

.span6.counter h3 {
	margin-bottom: 20px;
}

.span12.counter {
	margin-top: 10px;
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.disabled {
	color: #777;
}

.top_page .hero-unit {
	background: none;
	/*width: 400px;*/
	/*height: 160px;*/
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 0 0;
}

.navbar-top {
	margin-bottom: 10px;
}

.top_page .carousel {
	margin-bottom: 0;
}

.carousel-control {
	left: 0;

}

.carousel a:focus {
	outline: none;
}

.carousel a:active {
	outline: none;
}

.carousel-control:focus {
	outline: none;
}

.carousel-control:active {
	outline: none;
}

.carousel-control.right {
	right: 0;
}

.carousel-indicators li {
	background-color: #CCCCCC;
}

.carousel-indicators .active {
	background-color: #555555;
}

.hero-unit p.intro {
	font-size: 18px;
}

.hero-unit li {
	font-size: 16px;
}

.page-divider {
	background: url('../img/kreddy_bg.png');
	height: 20px;
}

.page-divider1 {
	background: #8b869f;
	height: 7px;
	width: 960px;
	margin: 0 auto;
}

.page-divider-admin {
	background-image: linear-gradient(to bottom, #a4c3ff, #08c);
	height: 7px;
	width: 100%;
	margin-top: 40px;
}

#steps {
	margin-top: 20px;
}

#steps li a {
	color: gray;
	text-decoration: none;
	cursor: default;
}

#steps li.done a {
	color: #08C;
	cursor: pointer;
}

#steps li.done a:hover {
	text-decoration: underline;
}

#next, #proceed {
	margin-bottom: 20px;
}

.steps .step h1 {
	margin-bottom: 20px;
}

.steps .cost {
	font-size: 14px;
	font-weight: bold;
}

.steps .info {
	margin-bottom: -200px;
}

.steps .step {
	min-height: 220px;
}

.about {
	margin-top: 20px;
	margin-bottom: 30px;
}

.privacy {
	font-size: 11px;
	color: #777;
}

.btn-info {
	background-color: #8b869f;
	*background-color: #8b869f;
	background-image: -ms-linear-gradient(top, #8b869f, #8b869f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8b869f), to(#8b869f));
	background-image: -webkit-linear-gradient(top, #8b869f, #8b869f);
	background-image: -o-linear-gradient(top, #8b869f, #8b869f);
	background-image: -moz-linear-gradient(top, #8b869f, #8b869f);
	background-image: linear-gradient(top, #8b869f, #8b869f);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8b869f', endColorstr='#8b869f', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-color: #8b869f;
	*background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
	background-color: #24748c \9;
}

#case {
	display: block;
	width: 69px;
	height: 12px;
	position: absolute;
	z-index: 4000;
	margin-top: 159px;
	margin-left: 356px;
}

footer, div .footer {
	margin-top: 20px;
	text-align: center;
}

.ident-actions {
	margin-top: 0;
	padding-top: 0;
}

.alert-block-fullform {
	margin-bottom: 0px;
	margin-top: 5px;
}

nav .account {
	margin-top: 10px;
	color: #8a2547;
	display: inline-block;
}

nav .account .btn {
	color: #8a2547;
}

.select2-drop {
	z-index: 110000;
}

.btn-link.location,
.btn-link.location:active,
.btn-link.location[disabled] {
	background-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-link.location {
	padding: 0;
	font-size: 12pt;
	border-color: transparent;
	text-decoration: none;
	border-bottom: 1px dashed;
	cursor: pointer;
	color: #ffffff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-link.location:hover,
.btn-link.location:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: transparent;
}

.btn-link .location[disabled]:hover,
.btn-link .location[disabled]:focus {
	color: #333333;
	text-decoration: none;
}

.caret-white {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #FFFFFF;
	border-right: 4px solid transparent;
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
	content: "";
}

.dotted {
	border-bottom: 1px dotted;
	text-decoration: none;
}

.dotted:hover {
	text-decoration: none;
}

.dashed {
	border-bottom: 1px dashed;
	text-decoration: none;
}

.dashed:hover {
	text-decoration: none;
}

/**
slider style
*/
.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 2.2em;
	cursor: default;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:focus {
	background-position: 0 -15px;
	text-decoration: none;
	transition: background-position 0.1s linear 0s;
	background-color: #0064cd;
	color: #333;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
}

.ui-slider-horizontal {
	height: 1.6em;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: 1.8em;
	height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

/* Tabs*/

.ui-slider span.ui-slider-tic {
	height: 1.6em;
	left: 0;
	position: absolute;
	top: -1.3em;
}

.ui-slider li span.ui-widget-content, .ui-slider dd span.ui-widget-content {
	border-bottom: 0 none;
	border-right: 0 none;
	border-style: none none none solid;
	border-top: 0 none;
	border-width: 0 0 0 0;
}

.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	margin-top: 1em;
}

.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
	margin-top: 1em;
}

/**

Навешиваем на форму анкеты дополнительные значки для успешного/ошибочного заполенения полей

*/
#formBody .control-group.error:not(.passport-num) input {
	background-image: url("/static/img/icons/agt_action_fail.png");
	background-position: right;
	background-repeat: no-repeat;
}

#formBody .control-group.success:not(.passport-num) input {
	background-image: url("/static/img/icons/button_ok.png");
	background-position: right;
	background-repeat: no-repeat;
}

#formBody .control-group.error:not(.passport-num) select {
	background-image: url("/static/img/icons/agt_action_fail.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 20px;
}

#formBody .control-group.success:not(.passport-num) select {
	background-image: url("/static/img/icons/button_ok.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 20px;
}

#formBody .control-group:not(.passport-num) input.error {
	background-image: url("/static/img/icons/agt_action_fail.png");
	background-position: right;
	background-repeat: no-repeat;
}

#formBody .control-group input.success:not(.passport-num) {
	background-image: url("/static/img/icons/button_ok.png");
	background-position: right;
	background-repeat: no-repeat;
}

#formBody .form-horizontal .control-group.success {
	background-image: url("/static/img/icons/button_ok.png");
	background-position: right top;
	background-repeat: no-repeat;
}

#formBody .form-horizontal .control-group.error {
	background-image: url("/static/img/icons/agt_action_fail.png");
	background-position: right top;
	background-repeat: no-repeat;

}

.icon-info-blue {
	background-image: url("/static/img/icons/info.png");
	background-repeat: no-repeat;
	background-position: 0;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin-top: 1px;
	vertical-align: text-top;
	width: 16px;
}

/*.form-inline select.error, .form-inline input.error, .form-inline textarea.error, .form-horizontal select.error, .form-horizontal input.error, .form-horizontal textarea.error, .form-vertical select.error, .form-vertical input.error, .form-vertical textarea.error {
	background-image: url("/static/img/icons/agt_action_fail.png");
	background-position: right;
	background-repeat: no-repeat;
}*/

/*
#ClientPersonalDataForm label.control-label:after{
	content: '*';
	color: red;
}
*/