@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

*{margin: 0px;padding: 0px;}
body,html{
    font-size: 16px;
    background: #fff;
    color: #040404;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}
.clear{
    clear: both;
    height: 0;
}
#main{
    width: 960px;
    margin: 0 auto -89px;
    padding: 30px 60px 0;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#logo{
    width: 192px;
    height: 44px;
    margin-left: 81px;
    background: url(../images/logo.png)no-repeat;

}
.arrow-top{
    left: 18px;
    position: absolute;
    top: 25px;
    width: 58px;
    height: 92px;
    background: url(../images/form/arrow-top.png)no-repeat;
}
.arrow-bottom{
    left: 61px;
    position: absolute;
    width: 150px;
    height: 50px;
    background: url(../images/form/arrow-bottom.png)no-repeat;
}

.woman{
    width: 403px;
    height: 529px;
    background: url(../images/woman.png)no-repeat;
    position: absolute;
    right: 0px;
    top: 20px;
}
.woman > span{
    bottom: -70px;
    color: #464459;
    font-size: 12px;
    left: 162px;
    position: absolute;
}
.woman p{
    bottom: -85px;
    font-size: 45px;
    left: -120px;
    position: absolute;
    color: #464459;
}
.woman p span{
    color: #d21188;
}
.form{
    position: relative;
    z-index: 9;
}
.form p{
    margin:40px 0 50px 52px;
    font-size: 29px;
}
.form p span{
    color: #e52797;
    font-weight: 800;
}
#main p#options {
	margin-top: 20px;
	text-align: center;
	font-size: 17px;
}
.line{
    text-align: right;
    width: 365px;
    margin-bottom: 8px;
    font-size: 18px;
}
.line label, .line input, .line button, .line select, .line textarea {
	font-size: 18px;
}
.line.lname,.line.name,.line.sname{
    width: 532px;
}
.line.date{
    width: 530px;
}
.line.date select{
    width: 110px;
    height: 31px;
    border: 1px solid #adadad;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.line.sex{
    width: 300px;
}
.line.sex select{
    width: 110px;
    height: 31px;
    border: 1px solid #adadad;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.line label{
    margin: 0 13px 0 0;
}
.line input[type=text]{
    width: 163px;
    height: 31px;
    border: 1px solid #adadad;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    padding: 0 5px;
}
.line.lname input[type=text],.line.name input[type=text],.line.sname input[type=text]{
    width: 331px;
}
.line input[type=text].error{
    border: 1px solid red;
}
.line.phone{
    width: 410px;
}
.line.phone input[type=text]{
    width: 28px;
    height: 31px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.line.phone input[type=text].n2{
    width: 18px;
}
.line.rule{
    margin: 45px 0 0 33px;
    text-align: left;
    width: 525px;
    position: relative;
}
.error-rule{
    bottom: -15px;
    color: red;
    font-size: 11px;
    left: -71px;
    position: absolute;
    display: none;
}
.line.rule .text-rule{
    color: #464459;
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin-left: 55px;
    padding-top: 2px;
}
.line.rule .text-rule a{
    color: #464459;
}
.radio{
    width:37px;
    height:37px;
    background:url(../images/form/radio.png) no-repeat;
    display:block;
    clear:left;
    float:left;
    margin: 0px;
}
.radio.checked{
    background-position: 0 -43px;
}
.select{
    border: 1px solid #ADADAD;
    font-size: 16px;
    height: 25px;
    overflow: hidden;
    padding: 2px 32px 2px 0;
    position: absolute;
    text-align: center;
    width: 76px;
    background:url(../images/form/s-arrow.png) center right no-repeat;
}
.line.button{
    margin: 15px 0 0 203px;
    text-align: left;
}
.line.button .btn{
    cursor: pointer;
    border: 0px;
    width: 275px;
    height: 65px;
    background: url(../images/form/btn.png)no-repeat;
}
.line.button .btn:hover{
    background: url(../images/form/btn-a.png)no-repeat;
}
.bottom{
    margin: 5px 0 0;
    text-align: center;
}
.bottom a{
    color: #454358;
    font-size: 10px;
    text-decoration: underline;
	white-space: nowrap;
	padding: 0 5px;
}

.f-cl{
    height: 52px;
}
#footer{
    position: relative;
    background-color: #ededec;
    height: 118px;
    width: 100%;
    margin-top: 40px;
}
#footer p{
    padding: 5px 0 0 ;
    text-align: center;
    font-size: 10px;
    color: #454358;
}

.modal {
	width: 760px;
	margin-left: -380px;
}

.modal {
	z-index: 100000;
}

.modal-error {
	width: 300px;
	margin-left: -150px;
	margin-top: 100px;
}

.modal-body {
	max-height: 500px;
	text-align: left;
}

label {
	display: inline;
}

ul, ol {
	margin: 0;
	padding: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	margin-bottom: 0;
}

body {
	line-height: normal;
}