body {
	/*noinspection CssUnknownTarget*/
	background: url("/packages/fintech-fab/qiwi-shop/img/bg_left.png") no-repeat, url("/packages/fintech-fab/qiwi-shop/img/bg_right.png") no-repeat right top, #481152;
	font-family: Trebuchet MS, sans-serif;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar {
	margin-bottom: 0;
}

.content {
	padding-top: 15px;
}

.inner {
	padding-bottom: 15px;
}

.error {
	color: #ff0000;
}

.tableBtn, .actionBtn, .margin-likeTableBtn {
	margin-right: 5px;
}


