.event-buttons li a {
	margin-bottom: 0;
}

#manage-signals-wrap {
	max-height: 720px;
	overflow: scroll;
	overflow-x: hidden;
}

#events-rules button,
.switch label.toggle-rule-flag,
.event-rules-translate a.delete-event-rule,
#manage-signals button {
	margin-bottom: 0;
}

.table-loading {
	background: white;
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

/* foundation tooltips appearence bug fix */
.tooltip {
	z-index: 1006;
}