.event-buttons li a {
	margin-bottom: 0;
}

#manage-signals-wrap {
	max-height: 720px;
	overflow: scroll;
	overflow-x: hidden;
}

#events-rules a.button, .switch label.toggle-rule-flag, #event-rules-translate a.delete-event-rule {
	margin-bottom: 0;
}