
.tab-content {
	background: #eee;
	padding: 10px;
}

.tab-content {
	margin-bottom: 15px;
	border-radius: 4px;
}

.navbar {
	margin-bottom: 0;
}

.content {
	padding-top: 15px;
}

.inner {
	padding-bottom: 15px;
}

.errorModal {
	color: #ff0000;
}

